<section>

  <form #myForm="ngForm" (ngSubmit)="Login(myForm)">

    <label for="Email">Enter Email</label>
    <input type="email" name="email" [(ngModel)]="LoginDto.Email" required email #email="ngModel">
    <div *ngIf="email.invalid && (email.dirty || email.touched)">
      <span class="invalid-feedback">Enter Correct Email</span>
    </div>

    <br>
    <br>

    <label for="Password">Enter Password
      <app-eye-icon *ngIf="ShowPasswrod" (click)="showPassword()" class="eye"/>
      <app-eye-slash-icon *ngIf="!ShowPasswrod" (click)="showPassword()" class="eye"/>
    </label>
    <input  [type]="ShowPasswrod ? 'text' : 'password'" name="Password"  [(ngModel)]="LoginDto.Password" required minlength="6" #password="ngModel">


    <div *ngIf="password.invalid && (password.dirty || password.touched)">
      <span *ngIf="password.errors?.['minlength']" class="invalid-feedback">Minimum 6 Symbol</span>

      <span *ngIf="!password.errors?.['minlength']" class="invalid-feedback">Enter Correct Password</span>
    </div>

    <br>
    <br>

    <button type="submit">Login</button>

    <div>
      <span *ngIf="Incorrect" class="invalid-feedback" >Email or Password Is Inccorect</span>
    </div>
  </form>

</section>
