<section>

  <form [formGroup]="LoginDto" (ngSubmit)="Login()">

    <label for="Email">Enter Email</label>
    <input type="email" name="Email" formControlName="Email">
    <span class="text-denger"
    *ngIf="
    LoginFormControl.Email.errors?.['required'] &&  (LoginFormControl.Email.touched || LoginFormControl.Email.dirty) ||
        LoginFormControl.Email.errors?.['email'] &&  (LoginFormControl.Email.touched || LoginFormControl.Email.dirty)
    ">
      Invalid Email
    </span>

    <br>
    <br>

    <label for="Password">Enter Password</label>
    <input type="password" name="Password" formControlName="Password">
    <span class="text-denger" *ngIf="
        LoginFormControl.Password.errors?.['required'] &&  (LoginFormControl.Password.touched || LoginFormControl.Password.dirty) ||
        LoginFormControl.Password.errors?.['min'] &&  (LoginFormControl.Password.touched || LoginFormControl.Password.dirty)
    ">
      Invalid Passwrod
    </span>

    <br>
    <br>

    <button type="submit">Login</button>

    <span *ngIf="!correct">Email or Password Is Inccorect</span>
  </form>

</section>
