

section
{

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;

  header
  {
    margin-top: 162px;
    padding: 96px 297px;
    border: 1px dashed;
    position: relative;

    h1
    {
      font-size: 39px;
    }

  }

  header::before
  {
    content: "";
    padding: 0px 86px;
    position: absolute;
    border-top: 1px dashed;
    bottom: 61px;
    left: -26px;
    transform: rotateZ(46deg);
  }

  header::after
  {
    content: "";
    padding: 0px 86px;
    position: absolute;
    border-top: 1px dashed;
    top: 61px;
    right: -26px;
    transform: rotateZ(46deg);
  }

}




