

section
{

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;

  .video_div
  {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 100vh;


    video
    {
      position: absolute;
      top: 0;
      width: 100%;

      &::-webkit-media-controls
      {
        box-shadow: inset 0 0 400px 8px;
      }

    }
  }

  .header_down
  {
    position: relative;
    top: 160px;
    padding: 40px 254px;
    border-block: 2px dashed;
    transition: 1s ease;
    font-family: 'Dancing Script', cursive;

    h1
    {
      font-size: 74px;
    }

  }

  .header_up
  {
    position: relative;
    top: -260px;
    padding: 40px 254px;
    border-block: 2px dashed;
    font-family: 'Dancing Script', cursive;

    h1 {
      font-size: 74px;
    }

  }





  main
  {
    z-index: 2;
  }

}




