nav {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main app-purchase-carts {
  width: 100vh;
  height: 80vh;
  box-shadow: inset 0 0 20px -6px;
  background: white;
}