main {
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}
main section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 79vh;
  border: 1px solid;
}