<main>

  <section>

    <div class="product-swiper">
      <div>
        <app-product-swiper [imagesUrl]="Data?.imageURL"/>
      </div>
    </div>

    <aside>

      <h1>{{Data?.productName}}</h1>

      <div class="desc">
        <span>Description:</span>
        <p>{{Data?.description}}</p>
      </div>

      <hr>

      <div class="brend">
        <p>Brand: {{Data?.brand}}</p>
      </div>

      <hr>

      <div class="flavor">
        <p>Flavor: {{flavor}}</p>
      </div>

      <hr>

      <div class="ingredients">
        <p>ingredients: </p>
        <span *ngFor="let ingredients of Data?.ingredients; let i = index">{{i+1}}) {{ingredients}}; </span>
      </div>

      <hr>

      <div class="cocoaProc">
        <p>Cocoa Percentage: {{Data?.cocoaPercentage}}%</p>
      </div>

      <hr>

      <div class="last">

              <div class="price">
                <span>Price: </span>
                <span class="priceNum">{{Data?.price}}$</span>
              </div>

              <div class="button">
                <button class="btn btn-info" (click)="addCart()">Add Cart</button>
                <button class="btn btn-success">Buy</button>
              </div>


      </div>



    </aside>


  </section>

</main>
