
<section>

  <div class="profile_img">
    <img src="../../../../assets/colorful_logo.png" alt="">
  </div>

  <div class="user_info">
    <div class="name">
      <h6><span>name:</span> Omiko</h6>
      <app-info-edit-icon />
    </div>

    <div class="email">
    <h6><span>email:</span> omikovalishvili</h6>
    <app-info-edit-icon />
    </div>

  </div>

  <div class="btns">

    <button class="active" (click)="cartActive()"><p>Carts</p></button>
    <button><p>Purchase</p></button>

  </div>

</section>

