section {
  padding: 10px;
  display: flex;
  gap: 25px;
}
section .main {
  display: inline-grid;
  padding: 10px;
  border: 1px dashed;
  background-color: #fff;
}
section .main img {
  height: 275px;
}
section .main aside {
  display: grid;
}
section .main aside p {
  margin: 0;
}