


main
{

  margin: 10px;

  section
  {
    width: 349px;
    height: 612px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: inset -20px 0px 166px -152px;

    .img
    {
      color: red;
    }

    .information
    {


      h4
      {

      }


      .price
      {
        display: inline;
        margin-right: 113px;
      }

      .btn
      {
        background: #FFEB3B;

        a { color: #000; }
      }

    }

  }

}

img
{
  height: 400px;
}
