

<main>

  <h4>Filter</h4>
  <hr>

  <label for="productName">product name</label>
  <input type="text" name="productName" class="form-control" placeholder="enter product name" [(ngModel)]="filterData.productName">
  <hr>

  <label for="productPrice">product price: {{ filterData.productPrice }}.00$</label>
  <input type="range" name="productPrice" class="form-range" max="10" min="0" [(ngModel)]="filterData.productPrice">
  <hr>

  <label for="productFlavor">product Flavor</label>
  <select class="form-select" name="productFlavor" aria-placeholder="NaN" [(ngModel)]="filterData.productFlavor">
    <option [value]="[0]">Dark</option>
    <option [value]="[1]">Milk</option>
    <option [value]="[2]">White</option>
  </select>

  <br>

  <button class="btn btn-success" (click)="filterBtn()">Filter</button>

  <button class="btn btn-danger" (click)="filterRefreshBtn()">Clear</button>

</main>


