

<section>

  <form #myForm="ngForm" (ngSubmit)="Submit(myForm)">

    <label for="Username">Enter Username *</label>
    <input type="text" name="User" [(ngModel)]="user.Name">

    <label for="Email">Enter Email *</label>
    <input type="email" name="Email" [(ngModel)]="user.Email" required >

    <label for="Password">Enter Password *</label>
    <input type="password" name="Password" [(ngModel)]="user.Password" required minlength="6">

    <button type="submit">Register</button>

  </form>

</section>





