

<section>

  <form #myForm="ngForm" (ngSubmit)="Submit(myForm)">

    <label for="User">Enter Username *</label>
    <input type="text" name="User" [(ngModel)]="user.Name" #nameInput="ngModel" required minlength="2">
    <div *ngIf="nameInput.invalid && Submit">
      <span class="invalid-feedback" *ngIf="nameInput.errors?.['minlength']" >
        Enter Minimum 3 Symbol!
      </span>
    </div>

    <label for="Email">Enter Email *</label>
    <input type="email" name="Email" [(ngModel)]="user.Email" required email #emailInput="ngModel" >
    <div *ngIf="emailInput.invalid && Submit">
      <span class="invalid-feedback" *ngIf="emailInput.errors?.['email']" >
        Enter Email!
      </span>
    </div>

    <label for="Password">Enter Password *
      <app-eye-icon *ngIf="ShowPasswrod" (click)="showPassword()" class="eye" />
      <app-eye-slash-icon *ngIf="!ShowPasswrod" (click)="showPassword()" class="eye" />
    </label>
    <input [type]="ShowPasswrod ? 'text' : 'password'" name="Password" name="Password" [(ngModel)]="user.Password" required minlength="6" #passwordInput="ngModel">
    <div *ngIf="passwordInput.invalid && Submit">
      <span class="invalid-feedback" *ngIf="passwordInput.errors?.['minlength']" >
        Enter Minimum 6 Symbol!
      </span>
    </div>

    <label for="PasswordR">Repeat Password *
      <app-eye-icon *ngIf="ShowPasswrod" (click)="showPassword()" class="eye" />
      <app-eye-slash-icon *ngIf="!ShowPasswrod" (click)="showPassword()" class="eye" />
    </label>
    <input [type]="ShowPasswrod ? 'text' : 'password'" name="Password" name="PasswordR" [(ngModel)]="user.PasswordRepeat" required
      #passwordRepeatInput="ngModel">
    <div *ngIf="InvalidRepeatPass">
      <span class="invalid-feedback">
        Repeat Correct Password!
      </span>
    </div>

    <button type="submit">Register</button>
    <div>
      <span class="invalid-feedback" *ngIf="OtherEmailReq">Choose another email, It Already Choose Someone</span>
      <span class="invalid-feedback" *ngIf="InvalidInput">Incorrect Information</span>
    </div>

  </form>

</section>





