
<aside>


  <section>

    <h1>
      <app-back-left-icon (click)="sideClose()"></app-back-left-icon>
      Cart Product
    </h1>
    <hr>


    <div class="main">

      <div class="cart" *ngFor="let item of data">


        <img [src]="item.imageURL[0]" alt="">
        <div class="info">
          <h1>
            {{ item.productName }}
          </h1>

          <div>
            <a (click)="remove(item)">-</a>
            <p>{{ item.count }}</p>
            <a (click)="add(item)">+</a>
          </div>

        </div>

      </div>



    </div>

    <hr>

  </section>


</aside>

