


<section>


  <div class="sec_1">


    <h3>Carts Product</h3>

    <hr>

    <aside>


      <div class="cards">


        <img src="../../../../assets/black_logo.png" alt="img">

        <div class="info">

          <h5>title</h5>

          <div class="price">
            <p>10$</p>


            <div class="counter">
              <a >-</a>
              <p>1</p>
              <a >+</a>
            </div>


          </div>

        </div>

      </div>



    </aside>


  </div>



  <div class="sec_2">


  </div>



</section>






