
section
{
  width: 372px;
  backdrop-filter: blur(1px);
  border-block: 2.5px dashed;
  padding-top: 3px;
}


header
{

  width: 100%;

  h1
  {
    position: relative;

    display: flex;
    align-items: center;
    letter-spacing: 10px;
    color: aliceblue;
    font-size: 24px;



  }
}

